.top-main
  .top-main__message
    %h2 BOOKWAVE
    %p 〜本とともに〜
  .top-main__bottom
    .top-main__bottom__login
      = link_to "#" do
        ログイン
    .top-main__bottom__signin
      = link_to "#" do
        新規登録